.hr {
    width: 100%;
    border: 1px solid #EAEAEA;

    float: right;
    justify-content: space-between;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
}

#contact-menu {
    margin-left: 8%;
}

.header-contact {
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
}

.logo {
    height: 70px;
    width: auto;
    margin-left: -25%;
}

.search-box {
    position: relative;
    margin-left: -110px;
}

.search {
    width: 500px;
    height: 38px;
    border-radius: 7px;
    border-color: #F57C20;
    padding-left: 10px;
}

.searchIcon {
    position: absolute;
    top: 23%;
    left: 92%;
}

#btnLogin {
    width: 38px;
    height: 38px;
    border: solid white;
    border-radius: 5px;
    background-color: #F57C20;
}

#btnCart {
    width: 38px;
    height: 38px;
    border: solid white;
    border-radius: 5px;
    background-color: #79B94F;
}

#btnNotify {
    width: 38px;
    height: 38px;
    border: solid white;
    border-radius: 5px;
    background-color: red;
}

.icon-login {
    /* position: relative;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color: white;
}

.login-text p {
    margin: 0;
    font-size: 12px;
}



.menu-home {
    display: flex;
    font-size: 15px;
    margin-left: -12.5%;
    font-weight: bold;
    justify-content: space-evenly;
}

.menu-home a {
    color: black;
    text-decoration: none;
}

.menu-promotion {
    display: flex;
    font-size: 15px;
    margin-left: 11%;
    font-weight: bold;
    justify-content: space-around;
}

.menu-bar {
    display: flex;
    width: 35%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 2px;
    background: -webkit-linear-gradient(left, #79B94F, #F57C20);
    color: white;
    margin-top: -12px;
    align-items: center;
    position: relative;
    margin-left: -22%;
}

.menu-bar p {
    padding-top: 15px;
}

.btn {
    cursor: pointer;
}

.menu-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: red;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.btn:hover+.menu-options,
.btn:focus+.menu-options {
    display: block;
}

.menu-options div {
    padding: 8px 16px;
}

.menu-options div:hover {
    background: red;
}

#account-dropdown {
    border: none;
    font-weight: bold;
    margin-left: -4%;
}

#account-dropdown option {
    color: white;
    font-weight: bold;
    background-color: #F57C20;
}

#account-dropdown:hover {
    color: #F57C20;
    border-radius: 5px
}

.customer-name {
    display: block;
}

#account-dropdown:hover .customer-name {
    display: none;
}