#order{
    margin-left: 7%;
}
#order h3{
    color: #1A9CB7;
    font-weight: bold;
    font-size: 25px;
}
#btnSelect{
    display: flex;
    justify-content: space-evenly;
}
#btnSelect button{
    border:none;
    background-color: white;
    color: #212121;
}
#order-code{
    display: flex;
    justify-content: space-between;
}
#order-code i{
    font-size: 20px;
    padding-right: 20px;
    color: #F57224;
}
#code{
    font-weight: bold;
    color: #1A9CB7;
    padding-left: 10px;
}
#status{
    width: 12%;
    height: 100%;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
}
#order-product{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    text-align: center;
}
#order-product img{
    width: 100px;
    height: 100px;
}
#order-product span{
    font-weight: bold;
    color: #F57224;
}
#price{
    margin-right: 0.9%;
}
#order-product p{
    font-weight: bold;
    color: #212121c7;
}
#order-product a{
    text-decoration: none;
    font-weight: bold;
    color: #1A9CB7;
}
#order-infor{
    width: 100%;
    height: 20%;
    border: 1px solid #DADADA;
    background-color: #F4F4F4;
    padding: 1% 2% 1% 2%;
    border-radius: 10px;
    margin-bottom: 16px;
}
#order-hr{
    margin-top: 1px;
    margin-bottom: 0;
}
#col-hr{
    width: 1px;
    height: 96%;
    background-color: #DADADA;
    margin-top: 10px;
}
#no-order{
    width: 100%;
    height: 300px;
    background-color: #F5F5F5;
    text-align: center;
}
#no-order img{
    width: 250px;
    height: 250px;
}
#no-order h5{
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F57224;
    padding-top: 10px;
}