#delivery{
    display: flex;
    justify-content: space-between;
}
#delivery button{
    border: none;
    color: #1A9CB7;
    border-radius: 10px;
    font-size: 14px;
}
#delivery p{
    font-weight: bold;
}
#address{
    color: #212121;
    width: 88%;
    height: 260px;
    border-radius: 10px;
    background-color: #F4F4F4;
    margin-left: 10.5%;
    padding: 5px;
}
#home{
    margin-left: 10px;
    padding-left:5px ;
    width: 14%;
    height: 1%;
    border-radius: 5px;
    background-color: #FF5430;
    font-weight: bold;
    color: white;
}
#momo{
    width: 100%;
    height: 80px;
    border: 1px solid #DADADA;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}
#momo span{
    color:#7E757E ;
    font-size: 12px;
}
#momo-infor{
    display: flex;
    justify-content: space-between;
}
#momo-infor img{
   width: 30px;
   height: 30px;
   border-radius: 4px;
   margin-right: 10px;
}
#momo-infor input{
    margin-top: -17px;
    font-size: 20px;
}
#payments{
    width: 100%;
    height: 550px;
    background-color: #F4F4F4;
    border-radius: 10px;
    margin-left: -16px;
    padding: 15px;
}
#payments h5{
    font-weight: bold;
    color: #4B4D4B;
}
#ship-fee{
    width: 30%;
    height: 23%;
    border: 1px solid #1A9CB7;
    padding: 10px;
    border-radius: 5px;
    color: black;
    margin-left: 10px;
}
#ship-fee i{
    margin-right: 10px;
    color: #1A9CB7;
}
#ship-fee p{
    margin: -3px 0 0 0;
}
#address h5{
    font-weight: bold;
    font-size: 15px;
    padding: 5px 0 0 10px;
}

#product-item{
    color: #212121;
    width: 88%;
    height: 130px;
    border-radius: 10px;
    background-color: #F4F4F4;
    margin:2.3% 0 0 10.5%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
#product-item img{
    width: 100px;
    height: 100px;  
}
#product-item span{
    color:#F57224;
    font-weight: bold;
}
#product-item p{
    font-weight: bold;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
}


.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}
