
 
 .product{
     display: flex;
     width: 1200px;
     height: 380px;
     border: 1px solid #EAEAEA;
     margin: 0 80px 0 6%;
     align-items: center;
     justify-content: space-evenly;
 }
 
 .product-items{
     width: 200px;
     height: 320px;
     border: 2px solid #ef7d5473 ;
     border-radius: 10px;
 }
 
 .product-items p{
     color: #626974;
     font-size: 13px;
     margin:2px 5px 0 10px ;
 }
 .product-items a{
     margin:5px 0 10px 10px;
     font-size: 16px;
     font-weight: bold;
     text-decoration: none;
     color: #041E42;
 }
 .product-items h2{
     margin:5px 0 10px 10px;
     font-size: 16px;
 }
 .product-image{
     width: 170px;
     height: 170px;
     margin: 15px;
 }
 .product-star{
     margin:0 0 8px 10px;
     display: flex;
     color: #49A1C2;
     font-size: 8px;
 }
 .product-bar{
     width: 130px;
     height: 7px;
     border-radius: 5px;
     background-color: #1a9db7d8;
     margin: -2px 0 10px 10px ;
 }
 #product-title{
     margin-top: 5%;
     margin-left: 6%;
     color: #041E42;
 
 }


 /* add product */
 .add-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(228, 166, 166, 0.1);
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto;
}

.add-product p {
    margin-bottom: 20px;
    font-size: 30px;
}

.add-product input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    border-radius: 15px;
}

.add-product button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
}

.add-product input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
